.vagrant
.editorcongif
.env
.styleci.yml
after.sh
aliases
artisan
composer.json
composer.lock
Homestead.yaml
package-lock.json
package.json
phpunit.xml
README.md
server.php
Vagrantfile
webpack.mix.js
